@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
* {
    box-sizing:border-box;
}
body {
    background-color: #222831;
    display: flex;
    flex-direction: column;
    font-family: "SUSE", sans-serif;
    
  
}

.container h1 {
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
    color: gold;
    margin-bottom: 3rem;
}
.container h2 {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    color: yellowgreen;
}

.btn {
    padding: 2rem 2rem;
    font-size: 2rem;
    background-color:aliceblue;
    border-radius: 15px;
    border: 4px solid black;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    scale: 120%;
    background-color: wheat;
  
}

.btn__container {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin: 9rem 0 0;

}
.playerDisplay, .computerDisplay {
    color: white;
    font-size: 1rem;
}
.resultDisplay {
    color: goldenrod;
    font-size: 2rem;

}
.data {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.scorer {
    display: flex;
    color: greenyellow;
}
.computer {
    color: red;
}
.scorer span {
    margin-left: 5px; /* Adjust the margin as needed */
}
